*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #402b16;
    color: #fff;

}
header nav{
    background-color: #212121;
    padding: 20px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    z-index:1;
}
header nav h1{
    font-size:26px;
    font-weight: 700px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav form{
    display: flex;
    justify-content: center;
}
form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"],button[type="submit"]{
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius:4px;
    transition: background-color 0.2s ease-in-out;

}
form button[type="submit"]{
    background-color: #f44336;
    color: white;
    cursor: pointer;
}
form button[type="submit"]:hover,.recipe button:hover,.recipe-close-btn:hover{
    background-color: #ff5c5c;

}
/* main container */
.recipe-container{
    text-align: center;
    margin-top : 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;

}
.reci{
    text-align: center;
}
.recipe img{
    height: 300px;
}
.recipe h3{
    font-size: 1.5rem;
    margin-block: 5px;
}
.recipe p{
    font-size:20px;
    color: #4a4a4a;
    margin:5px 0px;
}
.recipe{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color:#000;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(78,78,73,0.1),-5px -none 10px rgb(34,34,34,1);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}
.recipe:hover{
    transform: scale(1.05);
}
.recipe span{
    font-weight: 600;
}
.recipe button{
    font-size:20px;
    font-weight: 600px;
    padding: 10px;
    cursor: pointer;
    margin: 18px auto;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: #fff;
}
/* recipe details */
.recipe-details{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    background-color: #694c2f;
    width:40%;
    height: 60%;
    font-size: 20px;
    transition: all 5s ease-in-out;
    overflow-y: scroll;

}
.recipe-details::-webkit-scrollbar{
    width :10px;

}
.recipe-details::-webkit-scrollbar-thumb{
    background-color: #b5b5ba;
    border: 1rem;
    --webkit-border-radius: 16px;
}
.body::-webkit-scrollbar{
    width :16px;

}
.body::-webkit-scrollbar-thumb{
    background-color: #b5b5ba;
    border: 1rem;
    --webkit-border-radius: 16px;
}
.recipe-details-content{
    padding:30px;
}
.IngredientList{
    margin-top: 10px;
    margin-left:20px;
}
.recipeInstructions p{
    line-height: 30px;
    white-space: pre-line;
}
.recipeName{
    text-align: center;
    color: #ffff;
    text-decoration: underline;
    margin-bottom: 10px;

}
.recipeName,.IngredientList,.recipeInstructions{
    margin-bottom: 20px;
}
.recipe-close-btn{
    border: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius:4px;
    background-color: #f44336;
    position: absolute;
    right:20px;
    top:20px;
    width: 27px;
    height: 36px;
    display: flex;
    justify-content: center;
    color: #ffff;
}
main{
    height: 80vh;
}
footer{
    background-color:#212121;
    color:white;
    width: 100vw;
    font-size:1.2rem;
    text-align: center;
    position: fixed;
    padding:15px;
    
}
/* responsive code */
@media screen and (max-width:600px){
    header nav{
        flex-direction:column; 
    }
    header nav form{
        width:80%;
        margin-top: 20px;
    }
    main{
        max-height:79vh;
    }
    .recipe-close-btn{
        margin-right: 0px;
    }
    .recipe-details{
        width:300px;
    }
    .footer{
        padding: fixed;
    }
}